/*
* Reset all original styles
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, Header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, Header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*     START OF CSS CHANGES     */
.desktopApp { 
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url(../pics/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.desktopApp .overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width: 100%;
     height: 100%;
     background-color: #000000;
     background-color: rgba(0, 0, 0, 0.8);
}
.desktopApp .overlay .alertWindow {
    width: auto;
    padding: 3em;
    background-color: #e1dcc7;
    border: 0.3em solid #C7C2B0;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.desktopApp .overlay .alertWindow p {
    float: left;
    display: inline-block;
}
.desktopApp .overlay .alertWindow input[type=radio] {
    float: left;
    clear: left;
    margin-bottom: 1em;
    display: block;
}
.desktopApp .overlay .alertWindow input[type=text] {
    float: left;
    margin-bottom: 1em;
    display: block;
}
.desktopApp .overlay .alertWindow button {
    margin-left: 1em;
    float: left;
}
.desktopApp .overlay .alertWindow select {
    float: left;
}
.desktopApp .overlay .screenSaver {
    position: absolute;
    font-size: 5em;
    color: #FFFFFF;
    top: 25%;
    left: 25%;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
}
.desktopApp .desktopToolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    padding: 0.5em 0em 0em 0.5em;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 0.2em solid #222222;
}
.desktopApp .desktopToolbar .appIcon, .desktopApp .desktopToolbar .closeAllWindows {
    height: 2em;
    width: 2em;
    margin-right: 0.5em;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    -o-transition: 0.1s ease;
    transition: 0.1s ease;
}
.desktopApp .desktopToolbar .appIcon:hover, .desktopApp .desktopToolbar .closeAllWindows:hover {
    transform: scale(1.2);
}
.desktopApp .desktopToolbar .closeAllWindows {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}
.desktopApp .windowHolder {
    position: absolute;
    width: 30em;
    border-left: 0.2em solid black;
    border-right: 0.2em solid black;
    border-radius: 1em; /* If this is changed, don't forget to edit it in desktopWindow.js createWindow() */
    border-bottom-right-radius: 0;
    overflow: hidden;
    box-shadow: 2px 2px 5px #000000;
}
.desktopApp .windowHeader, .desktopApp .windowStatus {
    width: 100%;
    height: 2em;
    background-color: #111111;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.desktopApp .windowHeader {
    height: 3em;
    position: relative;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    z-index: 1;
}
.desktopApp .windowHeader div {
    width: 100%;
    height: 1.8em;
    cursor: pointer;
}
.desktopApp .windowHeader div:active {
    cursor: move;
}
.desktopApp .windowHeader p, .desktopApp .windowHeader .contextMenu {
    font: bold 0.8em Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin-top: 0.7em;
    float: left;
    cursor: default;
}
.desktopApp .windowHeader img {
    margin: 0.5em 1em 0 0.5em;
    height: 1em;
    width: 1em;
    float: left;
}
.desktopApp .windowHeader button {
    width: 4em;
    margin: 0.4em;
    font-weight: bolder;
    background-color: #772118;
    border: 0.1em solid #666666;
    border-radius: 0.2em;
    color: #FFFFFF;
    float: right;
    cursor: pointer;
}
.desktopApp .windowHeader button:hover {
    background-color: #E6473D;
}
.desktopApp .windowHeader .contextMenu {
    clear: both;
    position: relative;
    width: 100%;
    margin: 0 0.5em;
}
.desktopApp .windowHeader .contextMenu img {
    width: 2em;
    height: 2em;
    margin-top: 1em;
}
.desktopApp .windowHeader .contextMenu li {
    display: inline-block;
    padding: 0 1em;
    cursor: pointer;
}
.desktopApp .windowHeader .contextMenu ul {
    display: none;
    position: absolute;
    top: 1.3em;
    list-style: none;
    background-color: #000000;
}
.desktopApp .windowHeader .contextMenu li ul li {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
}
.desktopApp .windowHeader .contextMenu li ul li a {
    display: block;
    padding-right: 1em;
    line-height: 4em;
}
.desktopApp .windowHeader .contextMenu li:hover, .desktopApp .windowHeader .contextMenu li ul li:hover {
    background-color: #555555;
}
.desktopApp .windowBody {
    width: 100%;
    height: 21em;
    position: relative;
    max-height: 21em;
    background-color: #FFFFFF;
    overflow-y: auto;
    word-wrap: break-word;
}
.desktopApp .windowStatus {
    font: bold 0.7em Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 0.3em; /* If this is changed, don't forget to edit it in desktopWindow.js createWindow() */
    color: #CCCCCC;
    width: 99%;
    padding: 0.5em 0 0 1%;
}
.desktopApp .windowStatus p {
    display: inline;
}
.desktopApp .windowStatus .windowResize {
    float: right;
    width: 1em;
    height: 1em;
    margin-top: 0.5em;
    padding: 0.5em 0 0 0.5em;
    background-image: url(../pics/menuIcons/resize.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    cursor: se-resize;
}